
p{
    font-size: xx-large;
    color: green;
    font-weight: bolder;
}
.stu-input{
    width: 300px;
    height: 10rem;
    border: 2px solid black;
    margin-left: 40%;
    margin-top: 10%;
   border-radius: 5px 5px;
    
}
.stu-input label{
    padding: 10px;
}
.stu-input button{
    margin-left: 7rem;
}
